@charset "UTF-8";
/* CSS Document */
/*.nav-item .nav-link{
	color: darkred !important;
}

/*.navbar-brand{
	height:100px;
	width:100px;
}

/* Sourced from https://www.codexworld.com/bootstrap-navbar-center-align-menu-text/
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
*/

.navbar-nav {
	text-align: center;
}
.navbar-dark {
	background-color: rgb(136, 136, 136);
}

.justify-content-sm-center img {
	position:absolute; 
	left:50%; 
	margin-left: -50px;
	top: 2px;
}

.card {
	margin-bottom: 20px;
}

h1 {
	padding-top: 20px;
}